
:root{
    --orange:hsl(31, 77%, 52%);
    --dark:hsl(184, 100%, 22%);
    --dark-pure:hsl(179, 100%, 13%);
    --white:hsla(0, 0%, 100%, 0.75);
    --grey:hsl(0, 0%, 95%);
}
body{
    background-color: var(--grey);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
main{
    color: var(--white);
    position:absolute;
    transform: translate(-60%,-50%);
    top: 50%;
    left:50%;
}
.cart{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
    padding: 40px 50px 20px 40px
}
.crd{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: inherit;
}
.cart-1{
    background-color: var(--orange);
    border-radius: 10px 0 0 10px;
}
.cart-2{
    background-color: var(--dark);
}
.cart-3{
    background-color: var(--dark-pure);
    border-radius:0 10px 10px 0 ;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    color: var(--grey);
    padding: 20px 0;
    text-transform: uppercase;
}
.icon{
    width:50px;
}
.button{
    margin-right: auto;
    background-color: white;
    display: inline-block;
    text-align: center;
    align-self: center;
    padding:.375rem 20px;
    border-radius: 20px;
    border: 1px solid var(--grey);
}
.button-1{
    color: var(--orange);
}
.button-2{
    color: var(--dark);
}
.button-3{
    color: var(--dark-pure);
}
footer{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
}
@media only screen and (max-width:500px) {
    footer{
        bottom: -70%;
        top:250%;
    }
    main{
    flex-wrap: wrap;
    transform: translate(-60%,10%);
    top: 0;
    }
    .cart{
        width: 350px;
        margin-left: 7%;
        transform: translate(6%);
        justify-content:space-evenly;
        height: 400px;  
    }
    .cart-1{
        border-radius: 10px 10px 0 0;
    }
    .cart-3{
        border-radius: 0 0 10px 10px;
    }

}